#nav {
    width: 100vh;
    height: 50px;
    display: flex;
    justify-content: space-around;
    background-color: #007aff;
    color:white;
    /* text-decoration: none; */
    align-items: center;
    margin-bottom: 5%;

  }

  #icon{
    width:6%;
  }

  #seg1{
    display:flex;
    gap: 5rem;
  }
  #seg2{
    display:flex;
  }
  #seg2>button{
    height:40px;
    /* border:1px solid red; */
    margin-left: 4px;
    width:80px;
  }
  #login{
    border: 1px solid #007aff;
  }
  #signup{
    background-color: #007aff;
    border: 1px solid #007aff;
    color:white;
  }
  #manageproperty{
    /* border:1px solid red; */
    height:20px;
    border:1px solid #007aff;
    background-color: #007aff;
    margin-top: 1.5%;
    color:white;
  }

  #resources{
    /* border:1px solid red; */
    height:20px;
    color:white;
    border:1px solid #007aff;
    background-color: #007aff;
    margin-top: 1.5%;
  }


  /* responsive */


  